.task{
display:flex;
justify-content:space-between;
align-items:center;
background:rgba(255,255,255,0.2);
padding:15px;
border-radius:10px;
margin-bottom:12px;
}

.task-text p{
font-size:14px;
margin:3px 0;
}

.task-buttons{
display:flex;
flex-direction:column;
gap:8px;
}

.complete-btn{
background:#4CAF50;
color:white;
border:none;
padding:8px;
border-radius:6px;
cursor:pointer;
}

.complete-btn:hover{
background:#2ecc71;
}

.delete-btn{
background:#ff4d4d;
color:white;
border:none;
padding:8px;
border-radius:6px;
cursor:pointer;
}

.delete-btn:hover{
background:#e60000;
}

.completed strong{
text-decoration:line-through;
opacity:0.6;
};
}

ul::-webkit-scrollbar-thumb{
background:#ccc;
border-radius:10px;
}
